<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Node Site</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact-me.html">Contact</a></li>   
            </ul>
        </nav>
        <div>
            <p>This is the Contact page</p>
        </div>
    </main>
</body>
</html>